pkgbase = arch_check
	pkgdesc = Arch Linux system health and disk origin checker CLI
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/kidpixo/arch-check
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = arch_check.py
	source = pyproject.toml
	md5sums = 5e7a064e0917ca23797efa577e4a8056
	md5sums = 7bdec62ca089d089b20c62cf01ffb98f

pkgname = arch_check
