pkgbase = arch-check
	pkgdesc = Arch Linux system health and disk origin checker CLI
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/kidpixo/arch-check
	arch = any
	license = 0BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = arch_check.py
	source = pyproject.toml
	sha256sums = a53bb2565438544b0a61052c8e1abfec0de1a3c32702cf2683a6d8c33ef98d9e
	sha256sums = c7b09c9af408036d3aa2ee7e19fbf009f90fd14e05073434bd21d5922d2930d4

pkgname = arch-check
